<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;600;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/7b09a46f67.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <link rel="stylesheet" href="style.css">
        <title>API | Libreria Film e Serie TV</title>
    </head>
    <body>

        <div id="root">

            <header>

                <div class="navbar-left">
                    <a href="#">
                        <h1 id="logo">Boolflix</h1>
                    </a>
                    <ul>
                        <li class="menu">
                            <a href="#">
                                <p class="white">Home</p>
                            </a>
                        </li>
                        <li class="menu">
                            <a href="#">
                                <p class="white">TV Shows</p>
                            </a>
                        </li>
                        <li class="menu">
                            <a href="#">
                                <p class="white">Movies</p>
                            </a>
                        </li>
                        <li class="menu">
                            <a href="#">
                                <p class="white">New & Popular</p>
                            </a>
                        </li>
                        <li class="menu">
                            <a href="#">
                                <p class="white">My list</p>
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="navbar-right">

                    <div class="searching-container">
                        <i id="lens" class="fas fa-search"></i>
                        <input id="search-title" type="search" name="" value=""
                        placeholder="Movies, Series etc..."
                        v-model="userSearch" v-on:keyup="searchMovies(); searchSeries()">
                    </div>

                    <ul>
                        <li class="menu">
                            <a href="#">
                                <i class="fas fa-search"></i>
                            </a>
                        </li>
                        <li class="menu">
                            <a href="#">
                                <i class="fas fa-gift"></i>
                            </a>
                        </li>
                        <li class="menu">
                            <a href="#">
                                <i class="fas fa-bell"></i>
                            </a>
                        </li>

                    </ul>
                    <div class="user-profile">
                        <a href="#">
                            <img src="https://occ-0-3971-2773.1.nflxso.net/dnm/api/v6/0RO1pLmU93-gdXvuxd_iYjzPqkc/AAAABX_rw4AsQHSZUDkLmXZ0oJiMY_FHo5H1ypuql1B-1MmzVs0KtnT8yKfBhHx3NAral02mY95osMTLF6_KNAeIKlM.png?r=f08" alt="">
                        </a>
                        <i class="fas fa-caret-down"></i>
                    </div>
                </div>


            </header>

            <div class="container">

                <h1>Benvenuto, esplora il nostro catologo</h1>


                <div class="container-card">

                    <div class="movie-card" v-for="(movie, index) in arraySearchedMovies">

                        <img class="movie-poster" :src="posterFound(movie)" :alt="movie.title">

                        <div class="movie-information">

                            <div class="movie-info">

                                <p class="movie-properties">Titolo:</p>
                                <p class="movie-attributes">{{ movie.title }}</p>

                                <p v-if="movie.title !== movie.original_title" class="movie-properties">Titolo in lingua originale:</p>
                                <p v-if="movie.title !== movie.original_title" class="movie-attributes">{{movie.original_title}}</p>

                                <p class="movie-properties">Lingua originale:</p>
                                <img v-if="foundFlag(movie.original_language)" :src="'flags/'+movie.original_language+'-flag.png'" :alt="movie.original_language">

                                <p v-else class="movie-attributes">{{movie.original_language}}</p>

                                <p class="movie-properties">Voto:</p>

                                <div class="stars">

                                    <i v-if="countingStars(movie.vote_average) >= 1" v-for="star in countingStars(movie.vote_average)" class="fas fa-star"></i>
                                    <i v-if="countingStars(movie.vote_average) >= 1" v-for="star in (5 - countingStars(movie.vote_average))" class="far fa-star"></i>

                                    <p v-if="countingStars(movie.vote_average) == 0">Nessun voto disponibile</p>

                                </div>

                                <p class="movie-properties">Trama:</p>
                                <p v-if="movie.overview != '' " class="movie-attributes plot">{{movie.overview}}</p>

                                <p v-else class="movie-attributes">Trama non trovata</p>

                            </div>


                        </div>




                    </div>

                    <div class="movie-card" v-for="(series, index) in arraySearchedSeries">

                        <img class="movie-poster" :src="posterFound(series)" :alt="series.name">

                        <div class="movie-information">

                            <div class="movie-info">

                                <p class="movie-properties">Titolo:</p>
                                <p class="movie-attributes">{{ series.name }}</p>

                                <p v-if="!series.name === series.original_name" class="movie-properties">Titolo in lingua originale:</p>
                                <p v-if="!series.title === series.original_name" class="movie-attributes">{{series.original_name}}</p>

                                <p class="movie-properties">Lingua originale:</p>
                                <img v-if="foundFlag(series.original_language)" :src="'flags/'+series.original_language+'-flag.png'" :alt="series.original_language">

                                <p v-else class="movie-attributes">{{series.original_language}}</p>

                                <p class="movie-properties">Voto:</p>

                                <div class="stars">

                                    <i v-if="countingStars(series.vote_average) >= 1" v-for="star in countingStars(series.vote_average)" class="fas fa-star"></i>
                                    <i v-if="countingStars(series.vote_average) >= 1" v-for="star in (5 - countingStars(series.vote_average))" class="far fa-star"></i>

                                    <p v-if="countingStars(series.vote_average) == 0">Nessun voto disponibile</p>

                                </div>

                            </div>

                        </div>




                    </div>

                    <h3 v-if="noMovieFound == true">La ricerca non ha prodotto alcun risultato</h3>

                </div>





            </div>

        </div>



        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
