<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <script src="https://kit.fontawesome.com/7b09a46f67.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <link rel="stylesheet" href="style.css">
        <title>API | Libreria Film e Serie TV</title>
    </head>
    <body>
        <header>

        </header>

        <div id="root">


            <div class="container">

                <h1>Benvenuto, esplora il nostro catologo</h1>

                <div class="searchbox">

                    <input id="searchbar" type="search" name="" v-model="userSearch" value="" v-on:keyup.enter="searchMovies()" placeholder="Cerca un film">
                    <button id="search-button" type="button" name="button" @click="searchMovies()">Cerca</button>
                </div>

                <div class="container-card">

                    <div class="movie-card" v-for="(movie, index) in arraySearchedMovies">
                        <p class="movie-properties">Titolo:</p>
                        <p class="movie-attributes">{{ movie.title }}</p>

                        <p class="movie-properties">Titolo in lingua originale:</p>
                        <p class="movie-attributes">{{movie.original_title}}</p>

                        <p class="movie-properties">Lingua originale:</p>
                        <img :src="'flags/'+movie.original_language+'-flag.png'" :alt="movie.original_language">

                        <p class="movie-properties">Voto:</p>

                        <div class="stars">

                            <i v-if="countingStars(movie.vote_average) >= 1" v-for="star in countingStars(movie.vote_average)" class="fas fa-star"></i>
                            <i v-if="countingStars(movie.vote_average) >= 1" v-for="star in (5 - countingStars(movie.vote_average))" class="far fa-star"></i>

                            <p v-if="countingStars(movie.vote_average) == 0">Nessun voto disponibile</p>

                        </div>

                    </div>

                    <div class="movie-card" v-for="(series, index) in arraySearchedSeries">
                        <p class="movie-properties">Titolo:</p>
                        <p class="movie-attributes">{{ series.name }}</p>

                        <p class="movie-properties">Titolo in lingua originale:</p>
                        <p class="movie-attributes">{{series.original_name}}</p>

                        <p class="movie-properties">Lingua originale:</p>
                        <img :src="'flags/'+series.original_language+'-flag.png'" :alt="series.original_language">

                        <p class="movie-properties">Voto:</p>

                        <div class="stars">

                            <i v-if="countingStars(series.vote_average) >= 1" v-for="star in countingStars(series.vote_average)" class="fas fa-star"></i>
                            <i v-if="countingStars(series.vote_average) >= 1" v-for="star in (5 - countingStars(series.vote_average))" class="far fa-star"></i>

                            <p v-if="countingStars(series.vote_average) == 0">Nessun voto disponibile</p>

                        </div>

                    </div>

                    <h3 v-if="noMovieFound == true">La ricerca non ha prodotto alcun risultato</h3>

                </div>





            </div>

        </div>



        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
