* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Martel Sans', sans-serif;
}

::-webkit-scrollbar {
  max-width: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #141414;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.white {
    color: white;
}

header {
    height: 100px;
    background-color: #141414;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

#logo {
    color: #cd0c15;
    margin-right: 20px;
    text-transform: uppercase;

}

.menu {
    display: inline-block;
}

.menu a {
    display: inline-block;
    padding-right: 20px;

}

.menu a p, .menu a i, .user-profile i {
    transition: all .3s;
    color: white;
}

.menu a:hover p, .menu a:hover i, .user-profile:hover i {
    color: #b3b3b3;
}

.menu a i {
    font-size: 22px;


}

.user-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-profile i {
    margin-left: 8px;
}

.searching-container {
    position: relative;
}

#lens {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
    color: white;
    font-size: 14px;
}

#search-title {
    align-self: center;
    background-color: #141414;
    border: 1px solid white;
    margin-right: 10px;
    color: white;
    padding-left: 28px;
}

#search-title::placeholder {
    color: white;
}

#search-title::-webkit-search-cancel-button{
    -webkit-appearance: none;
}


h1, h3 {
    color:  white;
}



#root {
    min-height: 100vh;
    background-color: #1e1d1d;

}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#searchbar {
    width: 500px;
    margin-top: 20px;
    padding: 8px;
    border-radius: 10px;
    border: 0.2px solid #032541;
    outline: none;
}

#search-button {
    padding: 8px;
    border-radius: 10px;
    border: 0.2px solid #032541;
    background-color: white;
    outline: none;
    cursor: pointer;
    color: #032541;
}

.trend, .film {
    padding: 20px;
    font-size: 40px;
}

.trend {
    align-self: center;
}

.film {
    align-self: flex-start;
}

.container-card {
    width: 100%;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    position: relative;
}

.movie-card {
    width: 342px;
    max-height: 513px;
    border-radius: 10px;
    -webkit-box-shadow: 6px 7px 12px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    6px 7px 12px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         6px 7px 12px 0px rgba(50, 50, 50, 0.75);
    color: white;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

}
.slider-button {
    width: 30px;
}

.slider-button i {
    color: white;
    font-size: 4em;
    height: 513px;
    line-height: 513px;
    position: absolute;
    z-index: 3;

}

.switch-left i {
    top: 20px; bottom: 0; left: 0; right: 85%;
    background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    z-index: 3;

}

.switch-right i {
    top: 20px; bottom: 0; right: 0; left: 97.5%;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    z-index: 3;

}

.movie-card img {
    border-radius: 15px;
}

.movie-info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 513px;
    width: 342px;

}

.movie-information {
    display: none;
}

.movie-card:hover .movie-information {
    display: block;
}

.movie-card:hover .movie-poster {
    display: none;
}

.movie-poster {
    width: 342px;
    height: 513px;
}

.movie-properties, .movie-attributes {
    text-align: center;
}

.movie-properties {
    font-weight: bold;
}

.fa-star {
    color: #ffa41c;
}

.plot {
    flex: 1;
    overflow-y: scroll;
    white-space: initial;
}
